<form action="/sendpost" method="POST">
    <p>Título: </p>
    <input type="text" name="title">
    <p>Conteúdo: </p>
    <textarea name="content"></textarea>
    <button type="submit">Cadastrar Postagem</button>
</form>